/* This CSS File contains the rules that are shared in both print and web format
 *
 * See print.css and web.css for rules that belong to the respective format
 */



@font-face {
        font-family: Oswald;
        src: url('Oswald-Regular.ttf');
        font-weight: normal;
}

/* General page elements */

html, body {
        margin: 0;

        font-family: sans-serif;
}

h1, h2 {
        color:#e5286d;
}

a {
        text-decoration: none;
}

p {
        text-align: justify;
}

.monospace {
        font-family: monospace;
        font-weight: bold;
        color: #777;
}

/* Workshop header */

header #mcrraspjam, header #title {
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;

        font-family: Oswald, sans-serif;
}

header #mcrraspjam {
        font-size: 2.5rem;
        color: #e5286d;
        text-decoration: none;
        font-weight: normal;
        margin-top: 0.25rem;
}

header #title {
        font-size: 1.5rem;
        color: #777;
        font-weight: lighter;
        margin-top: -0.25rem;
        margin-bottom: 0.75rem;
}

/* Table of Contents */

.contents {
        margin: 1rem 0;
        padding-left: 4ch;
}

.contents>li {
        display: block;
        margin-top: 0.5rem;
}

.contents > li > a {
        font-weight: bold;
        color: #e5286d;
}

.subcontents {
        margin: 0;
        padding-left: 4ch;
        list-style-type: none;
}

.subcontents > li > a {
        color: black;
}

/* Images */

.autoimage {
        width: 36rem;
        max-width: 90vw;
        display: block;
        margin: 1rem auto;
}

.autoimage>img {
        width: 100%;
        height: auto;

        border: 1px solid #ddd;
}

.autoimage>p {
        margin: 0 auto;
        font-size: 0.8rem;
        text-align: center;
        font-style: italic;
}

/* Code Blocks */

.codeblock {
        display: block;
        width: 36rem;
        margin: 2rem auto;
        overflow: visible;

        padding: 1rem;
        border-radius: 1rem;
        border: 2px solid rgb(230, 192, 255);
        background-color: rgb(250, 242, 255);

        font-size: 0.8rem;
}
