@media only screen and (max-width:1023px) {
        html {
                background-color: #fff;
        }

        body {
                background-color: transparent;
                border: none;
                box-shadow: none;
        }

        body nav, p, h2, h3, h4, ol, ul, figure {
                max-width: calc(100vw - 2rem);
        }

        .codeblock {
                overflow-x: scroll;
                max-width: calc(100% - 2rem);
                width: 100vw;

                padding: 1rem;
                border-radius: 0;
                border-left: none;
                border-right: none;
        }

        header #mcrraspjam {
                font-size: 6.5vw;
        }
        header h1 {
                font-size: 3vw;
        }
}

@media only screen and (max-width:639px) {
        html {
                font-size: 14pt;
        }

        p {
                text-align: left;
        }

        section {
                margin: 3rem 0;
        }
}

@media only screen and (max-width:399px) {
        html {
                font-size: 12pt;
        }
}
