/* This CSS File contains the rules that are applied when the page is printed to paper */

.noscreen {
        display: none;
}

@page{
  margin: 1.5cm 3cm;
}

@media only print {
        .noprint {
                display: none !important;
        }

        .noscreen {
                display: inherit !important;
        }

        html {
                background-color: transparent;
                font-size: 11pt;
        }

        body {
                max-width: none;
                width: auto;
                margin: 0;

                border: none;
                box-shadow: none;
        }

        body nav, p, h2, h3, h4, figure, .swatches {
                max-width: none;
                width: auto;
                margin-left: 0;
                margin-right: 0;
        }

        p, h2, h3, h4 {
                margin: 0.5em 0;
                line-height: 1;
        }

        h2, h3, h4 { margin-top: 1em; }
        p{ text-indent: 2ch; }

        .monospace {
                padding: 0;
                font-weight: bold;

                border: none;
                border-radius: 0;
                background-color: transparent;
        }

        header {
                margin: 0;
                margin-bottom: 0.5em;
                padding: 0;
        }

        #downloadlink {
                display: inherit;
                font-size: 0.8em;
                font-style: italic;
                text-align: center;
        }

        section {
                margin: 3em 0;
        }

        .autoimage img{
                max-height: 10em;
                width: auto;
        }

        figure {
                page-break-inside: avoid;
        }

        figure img {
                margin: 1pt;
                border: 1pt solid black;
                box-shadow: none;
        }

        .codeblock {
                display: block;
                max-width: 100%;
                width: calc(100% - 5ch);
                margin: 2em auto;
                padding: 1ch;

                border-radius: 0;
                border-style: none;
                border-left: 3pt double #664080;
                background-color: transparent;

                font-size: 0.8rem;
        }
}
