/* This CSS File contains the rules that are applied when the page is viewew in a web browser */

@media only screen and (min-width:1281px) {
        html {
                background-color: #eee;
        }

        body {
                max-width: 1280px;
                margin: 0 auto;
                padding-top: 4rem;
                padding-bottom: 4rem;

                background-color: #fff;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
        }
}

@media only screen {

        /* General page elements */

        html {
                font-size: 14pt;
        }

        p {
                line-height: 1.5;
        }

        p, nav, h2, h3, h4 {
                max-width: 32rem;
                margin-left: auto;
                margin-right: auto;
        }

        section {
                margin: 8rem 0;
        }

        /* Workshop header */

        header {
                margin: 2rem 0;
        }

        header #logo {
                width: 10rem;
                height: 10rem;

                display: block;
                margin: 0 auto;
        }

        #downloadlink {
                display: none;
        }

        /* Table of contents */

        /* Code Blocks */
}
